<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Custom Error App</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">Custom Error Application</h1>
            <p class="lead">This is a simple Python / Flask web application demonstrating custom error functionality</p>
        </div>
        <div class="container-fluid">
        {% block content %}{% endblock %}
        </div>
    </body>
</html> 